#root {
  height: 100%;
}

body, html {
  height: 100%;
  margin: 0;
}

.App {
  background-image: url('./assets/background.jpg');
  text-align: center;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat; 
  background-position: center; 
}
/* 
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
} */

.none {
  display: none;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 25px
}

h1 {
  color: white;
}

h2 {
  color: rgb(255,215,0);
}

p {
  color: gray;
}

input {
  background: transparent;
  border: none;
  height: 100px;
  width: 400px;
  font-size: 40px;
}

.buttonSkill {
  background: transparent;
  color: white;
  border-radius: 25px;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;  
}

.SelectedSkills {
  display: flex;
  background-color: white;
  flex-direction: column;
  width: 50%;
  height: 100%;
  align-self: center;
}

.buttonSelectedSkills {
  width: 50%;
  align-self: center;
  background-color: rgb(255,215,0);
  border-radius: 25px;
}

.buttonLink {
  background: #3C99DC;
  border-radius: 50px;
  color: black;
  width: 150px;
  height: 50px;
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  display: flex;
  justify-content: space-around;
  height: 100%;
}

.textContainer {
  padding: 50px;
  height: 75px;
}

.buttonConatiner {
  display: flex;
  flex-direction: column;
  padding: 100px;
}

span {
  padding: 10px;
}

.containerDevelopersPage {
  display: flex;
  justify-content: space-around;
  height: 50%;
  padding: 25px;
}

.developersContainer {
  display: flex;
  flex-direction: column;
  background-color: white;
  height: 100%;
}

.developersContainer div {
  padding: 25px
}

.developersContainer button {
  background: transparent;
  border-radius: 25px;
}
